@import '../../../../commonCss/mixin.less';
.classification {
  display: flex;
  z-index: 100;
  overflow: hidden;
  padding-top:.88rem;
  .menu_wrap {
    flex: 0 0 1.6rem;
    width:.16rem;
    background:'gray';
    border-right: 1px solid  #E8E8E8;
    li {
      width:100%;
      display:table;
      height:1.08rem;
      background: #FAFAFA;
      box-shadow: inset 0 -1px 0 0 #E8E8E8;
      text-align: center;
      padding:0 .2rem;
      >span {
        font-size: .3rem;
        color: #333333;
        display:table-cell;
        vertical-align:middle;
      }
    }
  }
  .foods_wrap {
    flex:1;
    .warp_li {
      .innerLi {
        height: 2rem;
      }
    }
    .classfi_name {
      padding-left:.2rem;
      background: #FAFAFA;
      height:.5rem;
      line-height: .5rem;
      box-shadow: inset 0 -1px 0 0 #E8E8E8;
    }
  }
  .classfi_item_box {
    background:#fff;
    padding-left:.2rem;
  }
}

.classif_item {
  padding:.34rem .2rem .3rem .3rem;
  position: relative;
  .money {
    font-size: .36rem;
    color: #FF6050;
    .until {
      font-size: .28rem;
      color: #999999;
    }
  }
  &:before {
    .bottom-line(#E8E8E8);
  }
  img {
    width:1.4rem;
    height: 1.4rem;

  }
  .item_name {
    height:1.3rem;
    margin-left:0.19rem;
    font-size: .32rem;
    letter-spacing: 0;
  }
}
