.classification {
  display: flex;
  z-index: 100;
  overflow: hidden;
  .menu_wrap {
    flex: 0 0 1.6rem;
    width:.16rem;
    background:'gray';
    li {
      height: 2rem;
      border:1px solid red;
    }
  }
  .foods_wrap {
    flex:1;
    .warp_li {
      border: 1px solid black;
      .innerLi {
        height: 2rem;
      }
    }
  }
}
